<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="app-sidenav mat-elevation-z10" [opened]="!pantallaSmall()"
  [mode]="pantallaSmall() ? 'over' : 'side'">
  <mat-toolbar color="primary">
    MENÚ
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </mat-toolbar>
  <mat-nav-list>
    <mat-list-item  matLine [routerLink]="['/logged']">
      <a>Niñeras</a>
    </mat-list-item>
    <mat-list-item matLine [routerLink]="['/logged/playas']">
        <a>Sala chat de padres</a>
    </mat-list-item>
  </mat-nav-list>
    
  </mat-drawer>

 

</mat-drawer-container>